.weatherContainer {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 2rem;
	width: 20%;
	top: 3%;
	right: 25%;
	z-index: -1;
}

.weatherInfo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.weatherInfo > span {
	margin: 0 2rem;
}

.weatherLocation {
	color: gray;
}
