.searchContainer {
	display: flex;
	width: 70%;
	align-items: center;
	justify-content: space-between;
}

.inputSearchContainer {
	width: 85%;
}

.searchInput {
	width: 95%;
	padding: 0.8rem;
	border-radius: 0.5rem;
	border: 0.1rem solid var(--input-gray);
	background-color: var(--input-background);
}
