body {
  margin: 0;
  height: 100vh;
  background-image: url('./media/background.jpg');
  background-size: cover;
}

.phone-container {
  margin: 0 auto;
  min-height: 36.5rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-front{
  background-color: rgb(214, 226, 218);
  width: 15rem;
  height: 30rem;
  border: 0.2rem solid rgb(230, 181, 181);
  border-radius: 2rem;
  box-shadow: 0.2rem 0.1rem 1rem 0.1rem black;
}

.phone-front-top {
  background-color: rgb(214, 226, 218);
  height: 13%;
  border-radius: 2rem 2rem 0 0;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-screen {
  color: white;
  height: 74%;
  width: 90%;
  margin: 0 auto;
  background-color: black;
  background-image: url('./media/screenback.webp');
  background-size: cover;
}

.phone-front-bottom {
  background-color: rgb(214, 226, 218)  ;
  height: 13%;
  border-radius: 0 0 2rem 2rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  height: 0.3rem;
  width: 0.3rem;
  background-color: #121111;
  border-radius: 50%;
}

.camera:first-of-type {
  position:relative;
  top: 0.5rem;
}

.speaker {
  display: flex;
  flex-direction: row;
}

.speaker-line {
  background-color: rgb(150, 150, 195);
}


hr {
  display: block;
  width: 1.75rem;
  border: 0.1rem solid #1c1b1b;
  border-radius: 0.1rem;
  margin: 1em 0;
  padding: 0;
}

.camera:last-of-type {
  position: relative;
  top: 1.4rem;
  right: 1.3rem;
  height: 0.5rem;
  width: 0.5rem;
}

.bot-camera {
  position: relative;
  bottom: .3rem;
}



.button {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #c0ded9;
  border-radius: 50%;
  border: 0.1rem solid grey;
}


/* side buttons */

.button-sm {
  border-left: 0.2rem solid black;
  height: 1.3rem;
  position: relative;
  bottom: 8rem;
  border-radius: 0.4rem;
}

.button-lr-parallel {
  border-left: 0.2rem solid black;
  height: 2rem;
  border-radius: 0.4rem;
  position: relative;
  bottom: 7rem;
}

.button-lr {
  border-left: 0.2rem solid black;
  height: 2rem;
  border-radius: 0.4rem;
  position: relative;
  bottom: 6.7rem;
}


/* screen elements */

.not-panel-top, .not-panel-bot {
  height: 5%;
  display: flex;
  align-items: center;
}



.network-circle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.1rem 0 0.2rem; 
  width: 1.3rem;
  
}

.circle {
  height: 0.2rem;
  width: 0.2rem;
  background-color: #f3eded;
  border-radius: 50%;
}

.network-name {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
}

.wifi img {
  filter: invert(100%);
  height: 0.75rem;
  padding-left: 0.2rem;
}


.battery, .camera-onscreen {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.battery img {
  filter: invert(100%);
  height: 1.3rem;
  transform: rotate(180deg);
}



.camera-onscreen img {
  height: 1.2rem;
  filter: invert(100%);
  margin-right: 0;
  margin-left: 0;

}

#screen-clock {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  height: 20%;
  /* background-color:rgba(213, 147, 147, 0.7); */
  font-size: 2.5rem;
  font-family: sans-serif;
}

#screen-date {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 10%;
  font-size: 0.7rem;
  /* background-color: rgba(147, 149, 213, 0.7); */
}

.screen-slider {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60%;
}

.screen-slider > div {
  margin-bottom: 2rem;
}

.slider-text {
  display: flex;
}


i {
  color: white;
}

.slider-sign {
  transform: scale(1,2);
  padding-right: 0.5rem;
}

span {
  font-size: 1rem;
  color: white;
}
